<h1 class="text-center my-3">Lista de usuários</h1>
<table class="table">
  <div class="row">
    <div class="col-12">
      <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Senha</th>
      </thead>
      <tbody>
        {{#each usuario}}
          <tr>
            <th>{{this.id_usuario}}</th>
            <th>{{this.nome}}</th>
            <th>{{this.email}}</th>
            <th>{{this.senha}}</th>
            <th>
              <a
                href="/usuario/{{this.id_usuario}}/{{this.nome}}/{{this.email}}/{{this.senha}}"
              >
                Editar<i class="bi bi-pencil-square"></i>
              </a>
            </th>
            <th>
              <form class="borde-0 m-0" action="/usuario/Delete" method="POST">
                <input
                  type="hidden"
                  name="id_usuario"
                  value={{this.id_usuario}}
                />
                <input type="submit" value="Excluir" name="Excluir" />
              </form>
            </th>
          </tr>
        {{/each}}
      </tbody>
    </div>
  </div>
</table>